<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Retail Play Game (RPG)</title>
</head>
<body>
    <h1>Retail Play Game (RPG)</h1>
    <h2>Welcome, <span th:text="${username}"></span>!</h2>
    <p>This is the home page.</p>

    <!-- Show "Login" only if the user is NOT logged in -->
    <a th:if="${username == 'Guest'}" th:href="@{/login}">Login</a>

    <!-- Show "Logout" only if the user is logged in -->
    <a th:if="${username != 'Guest'}" th:href="@{/logout}">Logout</a>




</body>
</html>